{{#contentFor 'styles'}}
	<style>
		
	</style>
{{/contentFor}}

<ol class="breadcrumb">
  <li>订单管理</li>
  <li class="active">订单搜索</li>
</ol>

{{> operationresult}}

<div class="text-center">
	<h2>订单搜索页面......</h2>
	<img src="/images/order_search.png"></img>
</div>

{{#contentFor 'scripts'}}
	<script>
		
	</script>
{{/contentFor}}