{{#contentFor 'styles'}}
	<style>
		
	</style>
{{/contentFor}}

<ol class="breadcrumb">
  <li>订单管理</li>
  <li class="active">待处理订单</li>
</ol>

{{> operationresult}}

<div class="text-center">
	<h2>待处理订单页面......</h2>
	<img src="/images/order_todos.png"></img>
</div>

{{#contentFor 'scripts'}}
	<script>
		
	</script>
{{/contentFor}}