{{#contentFor 'styles'}}
	<style>
		
	</style>
{{/contentFor}}

<ol class="breadcrumb">
  <li>客户管理</li>
  <li class="active">区域管理</li>
</ol>

{{> operationresult}}

<div class="text-center">
	<h2>客户地区信息管理页面......</h2>
	<img src="/images/customer_region.png"></img>
</div>

{{#contentFor 'scripts'}}
	<script>
		
	</script>
{{/contentFor}}