{{#contentFor 'styles'}}
	<style>
		
	</style>
{{/contentFor}}

<ol class="breadcrumb">
  <li>客户管理</li>
  <li class="active">查询客户</li>
</ol>

{{> operationresult}}

<div class="text-center">
	<h2>查询客户信息页面......</h2>
	<img src="/images/customer_search.png"></img>
</div>

{{#contentFor 'scripts'}}
	<script>
		
	</script>
{{/contentFor}}